<h2 [style.color]="titleColor">{{title}}</h2>
<ol>
    <li>Data Binding</li>
    <ul>
        <li>one Way Binding (ts to html)
            <ul>
                <li>Interpolation</li>
                <li>Property Binding / Attribute Binding</li>
                <li>style binding</li>
            </ul>
        </li>
        <li>one Way Binding (html to ts)
            <ul>
                <li>Event Binding : (event-name)="function-call()" </li>
                <li></li>
                <li></li>
            </ul>
        </li>
    </ul>
   
</ol>
<img [src]="imgUrl" alt="" width="200" class=""><br>
<button (click)="showAlert('Alert the content using event Binding')" class="btn btn-primary mt-5">Show Alert</button>

<div class="container my-5">
    <h1>{{count}}</h1>
    <button [disabled]="!user.value" (click)="increment()" class="btn btn-success">Increment</button>
    <!-- -------------------------- -->
    <input #user (keyup)="getUsername($event)" type="text" class="form-control w-50 my-3" placeholder="Enter Your Name">
    <h3 *ngIf="username">User Input is : {{username}}</h3>
<!-- ---------------------------------------------------- -->
    <input #desg type="text" class="form-control w-50 my-3" placeholder="Enter Your Designation">
    <button (click)="getUser(desg)" class="btn btn-success mt-3">Get Designation</button>

    <p [ngClass]="styleClass">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nostrum explicabo quos asperiores debitis eveniet saepe! Dolorum iure, illo, ullam modi corrupti quos at fuga explicabo dignissimos deserunt repellendus ad.</p>
<!-- ----------------- -->
    <h2>User List</h2>
    <ol>
        <li *ngFor="let name of userList">{{name}}</li>
    </ol>
<!-- --------------------------- -->

    <input [(ngModel)]="UserAddress" type="text" class="form-control w-50 my-3" placeholder="Enter Your Address">
    <p>Address : {{UserAddress}}</p>


</div>  